<template>
    <div class="card">
        <div class="card-body overflow-hidden">
            <div class="row align-items-center">
<!--                <div class="col-lg-12 text-center"><img class="img" src="../../images/banner.jpg" alt=""></div>-->
                <div class="col-lg-12 text-center mb-3"><img class="img-fluid" src="../../images/banner.jpg" alt=""></div>
<!--                <div class="col-lg-6 ps-lg-4 my-5 text-center text-lg-start">-->
<!--                    <h3 class="text-primary">Edit me!</h3>-->
<!--                    <p class="lead">Create Something Beautiful.</p><a class="btn btn-falcon-primary" href="../documentation/getting-started.html">Getting started</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Welcome"
    }
</script>

<style scoped>

</style>
